﻿@using I2SE_Assignment2MVCApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log In";
}
@section AddCSS {
    <link href="@Url.Content("~/Content/signin.css")" rel="stylesheet" />
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2 class="form-signin-heading">Please sign in</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.LabelFor(m => m.ID, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.ID, new { @class = "form-control", placeholder = "ID" })
    @Html.ValidationMessageFor(m => m.ID, "", new { @class = "text-danger" })
    @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}