﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Registration System</h1>
    <p class="lead">
        A system to help students and professors choose courses that fit their demands.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Course Catalog</h2>
        <p>
            "Course Catalog" displays all courses offered by the university. From here, students can
            add a course to study and professors can add a course to teach. They can also check
            individual courses for more details.
        </p>
    </div>
    <div class="col-md-4">
        <h2>My Courses</h2>
        <p>
            "My Courses" is where students and professors can check the courses they have currently added.
            From here they can drop courses if they no longer want them. Students can check billing information and
            professors can view students who registered for their course offerings.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sample Logins</h2>
        <p>
            Students: ST001 - ST016<br />
            Professors: PR001 - PR008<br />
            Password: pass1234<br />
        </p>
    </div>
</div>