﻿@model I2SE_Assignment2MVCApp.Models.Professor

@{
    ViewBag.Title = "Professor Details";
}

<div class="page-header"><h1>Professor @Model.ID details</h1></div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Catalog", "Index", "Courses", null, new { @class = "btn btn-default" })
</p>
