﻿@model I2SE_Assignment2MVCApp.Models.Course

@{
    ViewBag.Title = "Course Details";
    int currentSize = Model.Registration.StudentIDs == null ? 0 : Model.Registration.StudentIDs.Count;
}

<div class="page-header"><h1>Course @Model.ID details</h1></div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            Current Size
        </dt>

        <dd>
            @currentSize
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sign up", "Register", "Registration", new { id = Model.ID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to Catalog", "Index", null, new { @class = "btn btn-default" })
</p>
