﻿@model IEnumerable<I2SE_Assignment2MVCApp.Models.Course>

@{
    ViewBag.Title = "Course Catalog";
}

<div class="page-header"><h1>Course catalog</h1></div>

@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["ErrorMsg"]
    </div>
}

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Details", new { id = item.ID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Sign up", "Register", "Registration", new { id = item.ID }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>