﻿@model IEnumerable<I2SE_Assignment2MVCApp.Models.Course>

@{
    ViewBag.Title = "Registration Information";
    double total = 0;
}

<div class="page-header"><h1>My registration information</h1></div>

@if (Model != null && Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.ActionLink(item.Name, "Details", "Courses", new { id = item.ID }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                    </tr>
                    total += item.Cost;
                }
            </tbody>
        </table>
    </div>
    <h3><span class="label label-primary">Total</span>$@total</h3>
}
else
{
    <div class="text-center">
        <p>
            No courses added. Please add a course from the @Html.ActionLink("course catalog", "Index", "Courses")
        </p>
    </div>
}