﻿@using I2SE_Assignment2MVCApp.Models;
@model IEnumerable<Registration>

@{
    ViewBag.Title = "My Courses";
}

<div class="page-header"><h1>My courses</h1></div>

@if (TempData["SuccessMsg"] != null)
{
    <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["SuccessMsg"]
    </div>
}
@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["ErrorMsg"]
    </div>
}

@if (Model != null && Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProfessorID)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.CourseID.ToString(), "Details", "Courses", new { id = item.CourseID }, new { target = "_blank" })
                        </td>
                        <td>
                            @if (item.ProfessorID != null)
                            {
                                @Html.ActionLink(item.ProfessorID.ToString(), "Details", "Professors", new { id = item.ProfessorID }, new { target = "_blank" })
                            }
                        </td>
                        <td class="text-center">
                            @if (School.Role.Contains("Professor"))
                            {
                                @Html.ActionLink("View Students", "Students", new { id = item.CourseID }, new { @class = "btn btn-info" })
                            }
                            @Html.ActionLink("Drop Course", "Drop", new { id = item.CourseID }, new { @class = "btn btn-warning" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    if (School.Role.Contains("Student"))
    {
        @Html.ActionLink("Check Registration", "Check", null, new { @class = "btn btn-info" })
    }
}
else
{
    <div class="text-center">
        <p>
            No courses added. Please add a course from the @Html.ActionLink("course catalog", "Index", "Courses")
        </p>
    </div>
}