﻿@using I2SE_Assignment2MVCApp.Models
@model IEnumerable<I2SE_Assignment2MVCApp.Models.Student>

@{
    ViewBag.Title = "My Students";
    Course course = ViewBag.Course;
}

<div class="page-header">
    <h1>My students in @course.Name (@Html.ActionLink(course.ID, "Details", "Courses", new { id = course.ID }, new { target = "_blank" }))</h1>
</div>

@if (Model != null && Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="text-center">
        <p>
            No students have signed up for this course yet.
        </p>
    </div>
}